CompileFlags:
  Add: [
    "-xc++",
    "--std=c++20",
    "-Wall",
    "-Wextra",
    "-Wpedantic",
    "-Werror",
    "-Wimplicit-fallthrough",
    "-Wno-gnu-anonymous-struct",
    "-Wno-nested-anon-types",
    "-Wno-unused-const-variable",
    "-I.",
    "-I", "apps",
    "-isystem", "third_party",
    "-isystem", "third_party/SDL3-3.2.2/include",
    "-isystem", "third_party/glew-2.2.0/include",
    "-isystem", "third_party/imgui-1.91.8",
    "-isystem", "third_party/imgui-1.91.8/backends",
    "-isystem", "third_party/ImGuizmo-master",
    "-isystem", "third_party/Catch2-3.8.0/src",
    "-isystem", "third_party/assimp-5.4.3/include",
    "-isystem", "third_party/cwalk-1.2.9/include",
    "-isystem", "extras/includes",
  ]
