BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
IncludeBlocks: Preserve
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PointerAlignment: Left
DerivePointerAlignment: false
AlignOperands: Align
AlignArrayOfStructures: Right
AlignAfterOpenBracket: Align
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
InsertBraces: true
InsertTrailingCommas: Wrapped
